﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de Perfil</h2>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttribution = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, string.Empty, new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Criar Perfil" class="btn btn-default" />
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Retornar", "Index")
    </div>

</div>

