﻿@model IEnumerable<Microsoft.AspNet.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Perfis</h2>

<p>@Html.ActionLink("Novo", "Create")</p>

<table class="table">
    <tr>
        <td>@Html.Label("Nome do Perfil")</td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.Name)</td>
        </tr>
    }
</table>
